<% if dog %>
  <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}" %>
  <div class="card-body">
    <p class="card-text dog-name"><%= dog.name %></p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <%= link_to 'View', dog_path(dog), class: 'btn btn-sm btn-outline-secondary' %>
      </div>
    </div>
  </div>
<% else %>
  <%= image_tag('ad.jpg', class: "ad-photo", alt: "Photo of ad") %>
<% end %>
