<h3>Sort by likes in the last:</h3>
<form action="<%= dogs_path %>" method="get">
  <select name="sort">
    <option value="">-</option>
    <option value="1_hours">1 Hour</option>
    <option value="2_hours">2 Hours</option>
    <option value="3_hours">3 Hours</option>
    <option value="1_days">Day</option>
    <option value="2_days">2 Days</option>
  </select>
  <input type="submit" value="Sort">
</form>

<% @dogs.each.with_index(1) do | dog, idx | %>
  <%= render partial: 'thumbnail', locals: { dog: dog } %>
  <% if idx % 2 == 0 %>
    <%= image_tag('ad.jpg') %>
  <% end %>
<% end %>

<%= will_paginate @dogs %>
